<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:component-scan base-package="com.saic" annotation-config="true">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <context:component-scan base-package="com.saic" annotation-config="true" />

    <context:property-placeholder location="classpath:spring/mapview-test.properties" />

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages/messages</value>
                <!-- <value>org/springframework/security/messages</value>-->
            </list>
        </property>
    </bean>

    <tx:annotation-driven proxy-target-class="true" />

    <bean id="spatialDataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close" p:driverClassName="${jdbc.oracle.spatial.driverClassName}" p:url="${jdbc.oracle.spatial.url}"
        p:username="${jdbc.oracle.spatial.username}" p:password="${jdbc.oracle.spatial.password}" />


    <bean id="batMSDataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close" p:driverClassName="${jdbc.ms.bat.driverClassName}" p:url="${jdbc.ms.bat.url}"
        />


<!--    <bean id="batMSDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource"-->
<!--        p:driverClass="${jdbc.ms.bat.driverClassName}" p:url="${jdbc.ms.bat.url}"-->
<!--        />-->

    <bean id="batMSTxMgr" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
        p:dataSource-ref="batMSDataSource" />

    <bean id="orclSpatialTxMgr" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
        p:dataSource-ref="spatialDataSource" />


    <!--
        <bean
        class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    -->
    <!--
        <import resource="classpath:spring/tx-atomikos.xml"/> <import
        resource="classpath:spring/tx-tx-dbcp-spring.xml"/> <import
        resource="classpath:spring/tx-jbossts.xml"/>
    -->
    <!--    <import resource="classpath:spring/applicationContext-security.xml"/>-->



</beans>