<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sakila</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila</property>
        <property name="hibernate.connection.username">sakila</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- Mappings -->
        <mapping resource="Actor.hbm.xml"/>
        <mapping resource="Widget.hbm.xml"/>
        <mapping resource="Film.hbm.xml"/>
        <mapping resource="FilmText.hbm.xml"/>
		<mapping resource="Category.hbm.xml"/>
        <mapping resource="Inventory.hbm.xml"/>
        <mapping resource="Address.hbm.xml"/>
        <mapping resource="City.hbm.xml"/>
        <mapping resource="Country.hbm.xml"/>
        <mapping resource="Customer.hbm.xml"/>
        <mapping resource="Language.hbm.xml"/>
        <mapping resource="Payment.hbm.xml"/>
        <mapping resource="Rating.hbm.xml"/>
        <mapping resource="Rental.hbm.xml"/>
        <mapping resource="Staff.hbm.xml"/>
        <mapping resource="Store.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
