/*Theme Colors
BASE: #71B095
#1A212C
#1D7872
#DEDBA7
#D13F32
*/

#hd {
	color: #DEDBA7;
	min-height: 3em;
	background-color: #1D7872;
}

#hd_logo{
	margin: 0;
	padding: 1em;
	font-size: 120%;
}

#bd {
	background-color: #71B095;
}

div.content p, div.content-left p, div.content-right p{
	padding: 1em;
}

div.content {
	padding: .5em;
	margin: .25em .5em;
	border: 1px solid blue;
	background-color: #FFFFFF;
}

div.content-left{
	padding: .5em;
	margin: .25em 0 .25em .5em;
	border: 1px solid blue;
	background-color: #FFFFFF;
}

div.content-right{
	padding: .5em;
	margin: .25em .5em .25em 0;
	border: 1px solid blue;	
	background-color: #FFFFFF;	
}


#sidebar {
	margin: .5em 0 .5em 1em;
	background-color: #FFFFFF;
}

#ft {
	text-align: center;
	color: white;
	border-top: 1px dashed #D13F32;
	background-color: #1D7872;
	padding: .5em .25em 0 .25em;
}

#ft_links {
	color: #67658D;
}

#ft_links ul {
	list-style: none;
	margin-left: 17em;
	padding: .2em 9em;
}

#ft_links li {
	float: left;
	list-style: none;
}

#ft_links a {
	color: #183152;
	text-decoration: underline;
	padding: 0 1.5em;
}

#copyright{
	clear: both;
	margin: 1.5em auto;
	color: gray;
}
